@{
  Layout = "_Layout";
}
<div class="bgimage">
<h1 style="color:white; text-align:center; padding-top:100px">welcome to <span style="font-weight:900">ciderlog <svg width="0.75em" height="0.75em" id="Layer_1" data-name="Layer 1" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.75 230.65"><title>apple svg</title><path d="M302.22,309.5c-3.88-13.92-11-25.19-20.67-35.49,2.15-.67,3.91-1.13,5.61-1.76,5.47-2,4.36-1.85,7.25,2.85,5,8.07,8.28,16.89,11.19,25.87,0.89,2.75,1.85,5.47,2.93,8.18A72.62,72.62,0,0,1,314,290c5.59-12.17,14.66-20.52,27.39-24.73,11.12-3.68,21.8-8.26,31.52-14.87,1.83-1.24,3.46-2.79,5.61-4.55-2.55,16.75-6.15,32.65-15.47,47l5.72,0.8c12.79,1.78,22.76,8.12,30.53,18.37a75,75,0,0,1,12.25,23.11,72.9,72.9,0,0,1,3,15.19c1,11.29-1.05,22.23-4.91,32.88-6,16.45-14.41,31.56-24.17,46-8.18,12.13-17.22,23.58-26.54,34.83-3.16,3.82-6.33,7.5-11,9.59-8.15,3.67-16.26,4.06-24.33-.22-5.84-3.1-12.15-3.88-18.59-3.39a49.23,49.23,0,0,0-10.32,2c-8.43,2.53-16.25,1.26-23.78-3-9.68-5.48-16.79-13.54-22.83-22.65-8.4-12.68-14.9-26.35-20.55-40.43a275.41,275.41,0,0,1-13.26-41.48c-2.44-10.72-3.29-21.55-.67-32.43,2.92-12.09,9.83-21.25,20.17-28a48.69,48.69,0,0,1,29.91-7.94,68.43,68.43,0,0,1,24.19,6.13c3.8,1.69,7.42,3.8,11.13,5.7C299.92,308.45,300.81,308.84,302.22,309.5Z" transform="translate(-212.05 -245.9)"/></svg></span></h1><hr style="background-color:white; float:right"><br>
</div>
<br>
      
<div class="container">
  <br>
  <div class="row">
    <div class="col-sm">
      <div class="container">
      </div>
    </div>
    <div class="col-md-">
      <p style="font-size:30px; text-align:center">Begin logging your favorite ciders</p><hr>
      <p class="intro"><a href="/Styles/Create" class="button">New <b>Style</b> <svg width="1em" height="1em" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 viewBox="0 0 495.3 495.3">
<path id="oversized-wine-glass-2" class="st0" d="M264.1,433.1V263.6c79.8-9.1,136.5-75.9,136.5-152.1c0-28.8-8-64.6-21.9-99.3
	C375.8,4.8,368.6,0,360.7,0H134.5c-8,0-15.1,4.8-18,12.2c-12.5,31.3-22.2,68.3-21.7,102.4l0,0c0,0,0,0.1,0,0.1
	c1.5,75.1,57.8,140.1,136.3,148.9v169.4c-52,4.3-91.8,27.4-91.8,39c0,12.8,48.5,23.2,108.3,23.2c59.8,0,108.3-10.4,108.3-23.2
	C355.9,460.4,316.1,437.3,264.1,433.1z M143.8,33h207.5c10.4,28.3,16.2,56.5,16.2,78.5c0,5.4-0.5,10.6-1.2,15.8
	c-10.3-2.6-21-2.9-32.5,1.2c-30,10.7-49.4,17.5-79.9,5.5c-30.3-11.9-49.5-66-85.9-61.8c-14.4,1.6-26.8,6.4-38,13
	C132.7,68.8,137.2,51,143.8,33z"/>
</svg>
</a> <a href="/Makers/Create" class="button1">New <b>Maker</b> <svg  width="1em" height="1em" version="1.1"
	 id="svg2" inkscape:version="0.47 r22583" sodipodi:docname="Razor_blade.svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:ns1="http://sozi.baierouge.fr" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.8 250"
	 style="enable-background:new 0 0 66.8 250;" xml:space="preserve">
<g id="layer1" transform="translate(116.44 -602.98)" inkscape:groupmode="layer" inkscape:label="Layer 1">
	<g id="layer1-7" transform="matrix(.24737 0 0 .24737 -176.37 598.08)" inkscape:label="Layer 1">
		<g id="g2386" transform="translate(96.975 36.365)">
			<rect id="rect2382" x="322.9" y="403.8" class="st0" width="80" height="560"/>
			<rect id="rect2384" x="277.1" y="26.6" class="st0" width="45.7" height="234.3"/>
			<path id="path2398" sodipodi:nodetypes="cssssccccccccccccccssssccccccccccccccccc" class="st1" d="M237.1-14.8
				c-2.1,1.6-3.2,5.4-3.7,12.5c-0.2,3.5-1,7-1.6,7.8c-0.7,0.9-1.4,7-1.7,15.8c-0.4,12.2-0.2,15,1.2,18c0.8,1.6,1.2,3.6,1.2,13.2
				l-6.8,188.7c0.5,7.3-1.2,13.3-4.9,19.6c-2.9,4.7-7.7,10.5-17,21.2c-37.2,39.2-55.3,89.5-58.6,142.5l0.2,529.8
				c1.8,13.7,8.8,35.2,19.8,39.8h230c11-4.6,18-26,19.8-39.8l0.2-529.8c-3.4-53.1-21.5-103.3-58.6-142.5
				c-10.9-12.5-15.5-18.3-18.3-23.5c-3.1-4.9-3.3-10.2-3.5-15.9l-6.9-190.1c0.1-9.6,0.5-11.6,1.2-13.2c1.4-3,1.6-5.8,1.2-18
				c-0.3-8.8-0.9-15-1.7-15.8c-0.6-0.8-1.4-4.3-1.6-7.8c-0.5-7-1.6-10.9-3.7-12.5C294.7-17,265.7-17.2,237.1-14.8L237.1-14.8z
				 M309.1,46.3h5v180h-5V46.3z M365.1,434.3v521h-6v-521H365.1z M386.1,434.3v521h-13v-521H386.1z"/>
</svg></a> <a href="/Ciders/Create" class="button2">New <b>Cider</b> <?xml version="1.0" encoding="iso-8859-1"?>
<svg  width="1em" height="1em" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
		<path d="M443.882,5.28C440.842,1.92,436.554,0,432.01,0h-352c-4.512,0-8.832,1.92-11.872,5.28
			c-3.008,3.328-4.512,7.808-4.064,12.32l48,480c0.832,8.192,7.712,14.4,15.936,14.4h256c8.224,0,15.104-6.208,15.904-14.4l48-480
			C448.394,13.088,446.922,8.608,443.882,5.28z M401.29,162.496c-40.672,13.152-93.6,19.232-135.136-14.848
			c-52.064-42.72-115.872-35.36-159.136-22.496L97.706,32h316.608L401.29,162.496z"/>
</svg></a> <a href="/Apples/Create" class="button3">New Cider <b>Apple</b> <svg  width="0.75em" height="0.75em" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.75 230.65"><title>apple svg</title><path d="M302.22,309.5c-3.88-13.92-11-25.19-20.67-35.49,2.15-.67,3.91-1.13,5.61-1.76,5.47-2,4.36-1.85,7.25,2.85,5,8.07,8.28,16.89,11.19,25.87,0.89,2.75,1.85,5.47,2.93,8.18A72.62,72.62,0,0,1,314,290c5.59-12.17,14.66-20.52,27.39-24.73,11.12-3.68,21.8-8.26,31.52-14.87,1.83-1.24,3.46-2.79,5.61-4.55-2.55,16.75-6.15,32.65-15.47,47l5.72,0.8c12.79,1.78,22.76,8.12,30.53,18.37a75,75,0,0,1,12.25,23.11,72.9,72.9,0,0,1,3,15.19c1,11.29-1.05,22.23-4.91,32.88-6,16.45-14.41,31.56-24.17,46-8.18,12.13-17.22,23.58-26.54,34.83-3.16,3.82-6.33,7.5-11,9.59-8.15,3.67-16.26,4.06-24.33-.22-5.84-3.1-12.15-3.88-18.59-3.39a49.23,49.23,0,0,0-10.32,2c-8.43,2.53-16.25,1.26-23.78-3-9.68-5.48-16.79-13.54-22.83-22.65-8.4-12.68-14.9-26.35-20.55-40.43a275.41,275.41,0,0,1-13.26-41.48c-2.44-10.72-3.29-21.55-.67-32.43,2.92-12.09,9.83-21.25,20.17-28a48.69,48.69,0,0,1,29.91-7.94,68.43,68.43,0,0,1,24.19,6.13c3.8,1.69,7.42,3.8,11.13,5.7C299.92,308.45,300.81,308.84,302.22,309.5Z" transform="translate(-212.05 -245.9)"/></svg></a></p>
    </div>
    <div class="col-lg">
    </div>
  </div>
</div>

