body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.nav-item {
  margin-left:10px !important;
  margin-right:10px !important;
}

li {
  list-style-type: none;
}

.full-width {
  width:100%;
}

.list-detail {
  color:black;
  font-size:25px;
}

a:hover {
  color:red;
  text-decoration:none;
}

.intro {
  font-size:20px;
}

.bgimage {
  height:250px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/dramatic-apple-pick.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}